Name: "vllm-lws"
image:
  repository: "vllm/vllm-openai"
  # -- Image tag
  tag: "0.11.0"

multiNode:
  size: 4
  gpuPerPod: 4
  annotations: 
    k8s.v1.cni.cncf.io/networks: |-
      [
        {"name": "ibnetwork1", "namespace": "default"},
        {"name": "ibnetwork2", "namespace": "default"},
        {"name": "ibnetwork3", "namespace": "default"}, 
        {"name": "ibnetwork4", "namespace": "default"},
        {"name": "ibnetwork5", "namespace": "default"}, 
        {"name": "ibnetwork6", "namespace": "default"},
        {"name": "ibnetwork7", "namespace": "default"},
        {"name": "ibnetwork8", "namespace": "default"}
      ]

model:
  modelFolderName: "GLM-4.5"
  runCommands:
    - "--served-model-name GLM-4.5"
    - "--reasoning-parser glm45"
    - "--enable-auto-tool-choice"
    - "--tool-call-parser glm45"


env: 
  - name: NCCL_DEBUG
    value: "TRACE"
  - name: VLLM_LOGGING_LEVEL
    value: "DEBUG"

securityContext:
  privilaged: true
  capabilities:
    add: ["IPC_LOCK", "CAP_SYS_ADMIN", "SYS_RESOURCE"]
containerPort: 8080
servicePort: 80
extraPorts: []

# -- Number of replicas
replicaCount: 1

pvcStorage: "1000Gi"
# -- Resource configuration
resources:
  requests:
    cpu: 64
    memory: 128Gi
  limits:
    cpu: 128
    memory: 1512Gi

# -- Readiness probe configuration
readinessProbe:
  # -- Number of seconds after the container has started before readiness probe is initiated
  initialDelaySeconds: 5
  # -- How often (in seconds) to perform the readiness probe
  periodSeconds: 5
  # -- Number of times after which if a probe fails in a row, Kubernetes considers that the overall check has failed: the container is not ready
  failureThreshold: 3
   # -- Configuration of the Kubelet http request on the server
  httpGet:
    # -- Path to access on the HTTP server
    path: /health
    # -- Name or number of the port to access on the container, on which the server is listening
    port: 8080

# -- Liveness probe configuration
livenessProbe:
 # -- Number of seconds after the container has started before liveness probe is initiated
  initialDelaySeconds: 15
  # -- Number of times after which if a probe fails in a row, Kubernetes considers that the overall check has failed: the container is not alive
  failureThreshold: 3
  # -- How often (in seconds) to perform the liveness probe
  periodSeconds: 10
  # -- Configuration of the Kubelet http request on the server
  httpGet:
    # -- Path to access on the HTTP server
    path: /health
    # -- Name or number of the port to access on the container, on which the server is listening
    port: 8080

labels:
  environment: "test"
  release: "test"
