# apiVersion: v1
# kind: Service
# metadata:
#   name: "{{ .Release.Name }}-service"
#   namespace: {{ .Release.Namespace }}
# spec:
#   type: ClusterIP
#   ports:
#     - name: {{ include "chart.service-port-name" . }}
#       port: {{ include "chart.service-port" . }}
#       targetPort: {{ include "chart.container-port-name" . }}
#       protocol: TCP
#   selector:
#   {{- include "chart.labels" . | nindent 4 }}

# ---
apiVersion: v1
kind: Service
metadata:
  name: vllm-leader
spec:
  ports:
    - name: http
      port: 8080
      protocol: TCP
      targetPort: 8080
  selector:
    leaderworkerset.sigs.k8s.io/name: vllm
    role: leader
  clusterIP: None 
  publishNotReadyAddresses: true